*{
    box-sizing: border-box;
    margin: 0;
}
.sub-nav-bg{
    background-color: #770181;
   
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.login:hover{
    background-color: #770181;
    color: white;
}